/**
 * Fade-zoom animation for first dialog
 */

*{
	padding:0;
	margin:0;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
body{
	background:#f9eddc;
}

.wrap_page{
	width:100%;
}


.navi{
	position:fixed;height:50px;width:100%;top:0;left:0;z-index:1000;
	background:#f9eddc;
	padding-top:15px;
}
.navi .left{
	position:absolute;
	left:2.5%;
}
.navi .right{
	position:absolute;
	right:2.5%;
}
.navi .right .right_wrap{
	
}
.navi .right .menu{
	float:left;
	padding-top:8px;
}
.navi .right .menu .inner a{
	display:block;
	float:left;
	padding-right:25px;
}
.navi .right .sns{
	float:right;
	padding-top:3px;
}


.sec_top{
	position:relative;
	margin-top:5%;
}
.sec_top a{
	display:block;
	position:absolute;
	width:60%;
	height:10%;
	bottom:5%;
	right:0;
	text-indent:-999999px;
}

.sec_top .cnt_man{
	text-align:center;
	width:100%;
	position:absolute;
	top:72%;
}
.sec_top .cnt_man img{
	width:7%;
}
.sec_top .cnt_man img.dash{
	width:3%;
}

.sec_top .bg img{
	width:100%;
}


.sec_list{
	background:#f9eddc ;
	margin-top:-2%;
	padding:20px 0 40px;
}
.sec_list .title{
	width:100%;
}
.sec_list .title img{
	width:100%;
}

.sec_list .one_list{
	width:50%;
	float:left;
	padding-top:20px;
}

.sec_list .wrap_list{
	width:100%;
}
.sec_list .one_list .btn,
.sec_list .one_list .btn img,
.sec_list .one_list .img,
.sec_list .one_list .img img{
	width:100%;
}
.sec_list .one_list .btn{
	padding-top:5px;s
}
.sec_list .one_list .cnt{
	width:100%;
	text-align:center;
	color:#fea25b;
	font-size:13px;
	font-weight:bold;
	padding-top:5px;
}

.sec_list .one_list{
}

.sec_gift,
.sec_gift img{
	width:100%;
}

.sec_howto{
	position:relative;
}
.sec_howto a{
	position: absolute;
	width:40%;
	right:7%;
	bottom:5%;
	height:7%;
	text-indent:-99999px;

}
.sec_howto .bg{
	width:100%;
}
.sec_howto .bg img{
	width:100%;
}

.sec_give{
	width:100%;
	background:#d1f0f6;
}
.sec_give .title{
	width:100%;
	position:relative;
}

.sec_give .title .cnt{
	text-align:center;
	width:23%;
	position:absolute;
	top:47.5%;
	right:26%;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
@media screen and (min-device-width: 360px) and (max-device-width: 373px) {
	.sec_give .title .cnt{
		top:47.5%;
		font-size:14px;
	}		
}
@media screen and (min-device-width: 374px) and (max-device-width: 383px) {
	.sec_give .title .cnt{
		top:48%;
		font-size:15px;
	}	
	
}
@media screen and (min-device-width: 383px) and (max-device-width: 413px) {
	.sec_give .title .cnt{
		top:47.5%;
		font-size:15px;
	}	
	
}
@media screen and (min-device-width: 413px) and (max-device-width: 800px) {
.sec_give .title .cnt{
		top:48%;
		font-size:16px;
	}	
	
}



.sec_give .title .cnt_man{
	text-align:center;
	width:100%;
	position:absolute;
	top:76%;
}
.sec_give .title .cnt_man img{
	width:5.2%;
}
.sec_give .title .cnt_man img.dash{
	width:2%;
}

.sec_give .title .bg,
.sec_give .title .bg img{
	width:100%;
}




.sec_give .img_give_graphic{
	position:relative;
	background:#d1f0f6;
	width:100%;
}
.sec_give .img_give_graphic .tong{
	position: absolute;
	width:100%;
	z-index:100;
}
.sec_give .img_give_graphic .tong img{
	width:100%;
}

.sec_give .img_give_graphic .mull{
	position: absolute;
	width:100%;
	z-index:99;
	top:40%;
}
.sec_give .img_give_graphic .mull img{
	width:100%;
}

.sec_give .img_give_graphic .bg,
.sec_give .img_give_graphic .bg img{
	width:100%;
}


.sec_give .img_give_graphic .bar{
	position: absolute;
	width:97%;
	left:1.5%;
	z-index:101;
	height:25px;
	bottom:48%;
	background:#fff;
	border-radius:50px;
	border:2px solid #ff8c25;
}
.sec_give .img_give_graphic .bar .inner{
	position:relative;
	width:100%;
	height:25px;
}
.sec_give .img_give_graphic .bar .inner .ps{
	background:#ff8c25;
	width:5%;
	height:25px;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
}
.sec_give .img_give_graphic .percent{
	position: absolute;
	width:95%;
	left:5%;
	bottom:49%;
	text-align:left;
	z-index:102;
	color:#000;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
	font-size:15px;
}

.sec_give .img_give_graphic .runner{
	position: absolute;
	width:13%;
	z-index:102;
	bottom:50%;
}

.sec_give .img_give_graphic .runner img{
	width:100%;

}


.sec_movie{
	margin-top:-2%;
	background:#f9eddc;
}
.sec_movie,
.sec_movie img{
	width:100%;
}
.sec_movie .movie{
	border:3px solid #fdd590;
}
.sec_app{
	position:relative;
}
.sec_app,
.sec_app .bg,
.sec_app .bg img{
	width:100%;	
}
.sec_app a{
	display:block;
	position:absolute;
	bottom:6%;
	height:10%;
	width:80%;
	left:10%;
	text-indent:-99999px;
}

.sec_footer{
	background:#fff;
	margin-top:-2%;
}
.sec_footer,
.sec_footer img{
	width:100%;
}





/*popup common*/
.popup_wrap {
	position:relative;
	width:100%
}
.popup_wrap .p_mid.p_position.big{
	position:relative;
	width:100%;
	z-index:200;
}
.popup_wrap .p_mid.p_position{
	position:relative;
	width:95%;
	z-index:200;
	margin:0 auto;
}
.popup_wrap .p_mid.p_position.aleardy{
}
.popup_wrap .p_mid.p_position.agree{
	position:relative;
	width:95%;
	z-index:200;
	margin:0 auto;
}

.popup_wrap .p_mid.p_position.product .block_content a,
.popup_wrap .p_mid.p_position.thanks .block_content a{
	position:absolute;
}



.popup_wrap .p_mid.p_position.movie .block_content{
	z-index:200;
	background:#000;
	height:100%;
	border: none;
}
.popup_wrap .p_mid.p_position.big .block_content{
	z-index:200;
	border:none;
}

.popup_wrap .p_mid.p_position.big .block_content.posting .bloger_title{
	padding-left:5%;
	padding-bottom:10px;
	padding-top:10px;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .tab_menu{
	padding-left:13%;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .tab_menu a{
	display:block;
	float:left;
}

.popup_wrap .p_mid.p_position.big .block_content.posting .content_posting,
.popup_wrap .p_mid.p_position.big .block_content.posting .txt_notice{
	width:100%;
	margin-top:-1%;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .content_posting{
	margin-top:-3%;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .content_posting img,
.popup_wrap .p_mid.p_position.big .block_content.posting .txt_notice img{
	width:100%;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .txt_notice{
}
.popup_wrap .p_mid.p_position.big .block_content.posting .block_suggest{
	width:230px;
	margin:0 auto;
	padding-bottom:30px;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .block_suggest a{
	display:block;
	color:#fff;
	font-weight:bold;
	width:190px;
	padding-right:30px;
	padding-top:9px;
	height:30px;
	background:url(../images/popup/btn_suggest_bg.png) center top no-repeat;
	background-size:contain;
	font-size:12px;
	text-align:right;
	text-decoration:none;
}

.popup_wrap .p_mid.p_position.big .block_content.posting .sec_comment{
	padding:13px 0;
	padding-left:4%;
	padding-right:4%;
	background:#f7e2c4;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .sec_comment .label{
	border-bottom:1px solid #e4c89f;
	padding-bottom:10px;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .sec_comment .comment{
	padding-top:10px;
	width:100%;
}
.popup_wrap .p_mid.p_position.big .block_content.posting .sec_comment .comment div{
	float:left;
	font-size:13px;
	letter-spacing:-1px;
}

.popup_wrap .p_mid.p_position.big .block_content.posting .sec_comment .comment div.id{
	width:18%;
	color:#7f7669;
	text-align:center;
}

.popup_wrap .p_mid.p_position.big .block_content.posting .sec_comment .comment div.dash{
	color:#ff8c00;

}

.popup_wrap .p_mid.p_position.big .block_content.posting .sec_comment .comment div.txt{
	width:75%;
	padding-left:2%;
	color:#2f2f2f;
}

.popup_wrap .p_position .block_content.block_gift_num .inner .block_btn{
	padding-bottom:30px;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .block_btn img{
	width:100%;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .gift_num_list{
	padding:5px 0;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .gift_num_list .inner_gift_num{
	padding:20px 0;
	background:#fdf9f4;
	margin:0 3%;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input_bg{
	background: none;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .input_txt input{
	background: #fff;
}

.popup_wrap .p_position .block_content.block_gift_num .inner .gift_num_list .no_gift{
	width:100%;
	padding-bottom:40px;
}

.popup_wrap .p_position .block_content.block_gift_num .inner .gift_num_list .no_gift img{
	width:100%;
}



.popup_wrap .p_mid.p_position.p_wide .block_content{
	border:none;
	background:#fff;
}

.popup_wrap .p_mid.p_position .block_close {
	width:100%;
	position:absolute;
	padding:0 0 0;
	z-index:300;
	top:13px;
	right:14px;
}
.popup_wrap .p_mid.p_position.movie .block_close {
    width:100%;
	position: relative;
	padding:5px;
	z-index:300;
	top:0;
	right:0;
	background:#000;
}
.popup_wrap .p_mid.p_position.big .block_close {
	width:100%;
	position:absolute;
	padding:0;
	z-index:300;
	top:0;
	right:15px;
}
.popup_wrap .block_close .btn_close{
	display:block;
	float:right;
	width:7%;
}
.popup_wrap .block_close .btn_close img{
	width:100%;
}
.popup_wrap .title{
	text-align:center;
}




/*팝업별 사이즈 조정*/

.popup_wrap .p_position .block_content .agree_inner{
	padding:7%;
	width:86%;
	height:86%;
	font-size:14px;
	line-height:18px;
	color:#666;
	overflow:scroll;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
.popup_wrap .p_position .block_content .agree_inner .bold{
	font-weight:bold;
}
.popup_wrap .p_position .block_content .agree_inner span.tt{
	font-size:15px;
}
.popup_wrap .p_position .block_content .inner,
.popup_wrap .p_position.big.input .block_content .inner{
	padding:12% 0 8%;
	width:100%;
}
.popup_wrap .p_position.big .block_content .inner{
	padding:10% 0 0;
	width:100%;
}
.popup_wrap .p_position.aleardy .block_content .inner{
	padding:10% 0 0;
	width:100%;
}
.popup_wrap .p_position.movie .block_content .inner{
	padding:0;
	width:100%;
}
.popup_wrap .p_position.bg_gray .block_content .inner{
	padding:10% 0 4%;
	width:100%;
}


.popup_wrap .p_position .block_content .inner.inner_common{
	padding:15% 0 12%;
	width:100%;
}
.popup_wrap .p_position .block_content .inner .title{
	width:100%;
}
.popup_wrap .p_position .block_content .inner .title_input{
	padding-bottom:15px;
}
.popup_wrap .p_position .block_content .inner .title img{
	width:100%;
}


.popup_wrap .p_position .block_content .inner .block_input_bg{
	background:#fff;
	border-radius:15px;
	width:95%;
	margin:0 auto;
	padding:10px 0;
}

.popup_wrap .p_position .block_content .inner .block_input{
	width:100%;
	padding-top:5px;
}
.popup_wrap .p_position .block_content .inner .block_input.notice{
	font-size:12px;
	letter-spacing:-1px;
	color:#666;
	margin-top:-10px;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .label{
	float:left;
	width:20%;
	padding-right:2%;
	text-align:right;
	padding-top:8px;
}



.popup_wrap .p_position .block_content .inner .block_input .label{
	float:left;
	width:27%;
	padding-right:2%;
	text-align:right;
	padding-top:8px;
}


.popup_wrap .p_position .block_content .inner .block_input.comment .label{
	width:23%;
}
.popup_wrap .p_position .block_content .inner .block_input .label img{
	width:85%;
}
.popup_wrap .p_position .block_content .inner .block_input.comment .label img{
	width:95%;
}
.popup_wrap .p_position .block_content .inner .block_input .label img.blank{
	width:0%;
}

.popup_wrap .p_position .block_content .inner .block_input.first{
	margin-top:-20px;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt{
	float:left;
	width:66%;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .input_txt{
	float:left;
	width:75%;
}

.popup_wrap .p_position .block_content .inner .block_input .input_txt.notice{
	float:left;
	width:75%;
	padding-left:3.5%;
}
.popup_wrap .p_position .block_content .inner .block_input.comment .input_txt{
	width:75%;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt img{
	width:95%;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .input_txt img{
	width:70px;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt input,
.popup_wrap .p_position .block_content .inner .block_input .input_txt select,
.popup_wrap .p_position .block_content .inner .block_input .input_txt textarea{
	width:88%;
	padding:5px 2px;
	font-size:13px;
	line-height:18px;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
	background:#f9ede3;
	border:none;
	border-left:2px solid #efe4da;
	border-top:2px solid #efe4da;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt select{
	width:92%;
}

.popup_wrap .p_position .block_content .inner .block_input .input_txt textarea{
	height:40px;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt.name input{
	width:70%;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt .inner_phone{
	width:100%;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt .inner_phone div.in_phone,
.popup_wrap .p_position .block_content .inner .block_input .input_txt .inner_phone div.in_dash{
	float:left;
	width:32%;
	position:relative;
}
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .input_txt .inner_phone div.in_phone,
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .input_txt .inner_phone div.in_dash,
.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .input_txt .inner_phone div.btn{
	float:left;
	width:23%;
	position:relative;
}

.popup_wrap .p_position .block_content.block_gift_num .inner .block_input .input_txt .inner_phone div.btn{
	width:28%;
	padding-top:3px;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt .inner_phone div.in_dash{
	width:7%;
	text-align:center;
	padding-top:8px;
	font-size:11px;
	padding-left:3px;
}
.popup_wrap .p_position .block_content .inner .block_input .input_txt .inner_phone div.in_phone input{
	width:85%;
	display:block;
}

.popup_wrap .p_position .block_content .inner .block_btn{
	width:100%;
	padding-top:20px;
	text-align:center;
}
.popup_wrap .p_position.aleardy .block_content .inner .block_btn{
	width:100%;
	padding-top:5px;
}
.popup_wrap .p_position.aleardy .block_content .inner .block_btn img{
	width:30%;
}
.popup_wrap .p_position .block_content .inner .block_btn.send{
	padding-bottom:20px;
	padding-top:30px;
}

.popup_wrap .p_position .block_content .inner .block_btn a.common{
	width:100%;
	display:block;
	text-align:center;
}
.popup_wrap .p_position .block_content .inner .block_btn a.common img{
	width:40%;
}
.popup_wrap .p_position .block_content .inner .block_btn a.common_2 img{
	width:60%;
}
.popup_wrap .p_position .block_content .inner .block_btn a.common_3 img{
	width:55%;
}
.popup_wrap .p_position .block_content .inner .block_btn a.left{
	display:block;
	text-align:right;
	width:50%;
	float:left;
}
.popup_wrap .p_position .block_content .inner .block_btn a.right{
	display:block;
	text-align:left;
	width:50%;
	float:left;
}
.popup_wrap .p_position .block_content .inner .block_btn a img{
	width:70%;
}

.popup_wrap .p_position .block_content .inner .block_sns{
	padding-top:5px;
	text-align:center;
}
.popup_wrap .p_position .block_content .inner .block_sns a img{
	width:20%;
}

.popup_wrap .p_position .block_content .inner .block_url{
	margin:0 auto;
	width:75%;
	color:#fff;
	background:#333;
	padding:12px 10px 3px;
	font-size:15px;
	letter-spacing:-1px;
	line-height:18px;
	font-weight:bold;
	text-align:center;
}
.popup_wrap .p_position .block_content .inner .block_url .inner_url .label,
.popup_wrap .p_position .block_content .inner .block_url .inner_url .url{
	float:left;
	padding-right:0;
}
.popup_wrap .p_position .block_content .inner .block_url .inner_url .label{
	padding-right:10px;
}

.popup_wrap .p_position .block_content .inner .img_gift{
	text-align:center;
	width:95%;
	margin:0 auto;
	padding:20px 0 8px;
	border-radius:15px;
	background:#fff;
}
.popup_wrap .p_position .block_content .inner .img_gift .img img{
	width:100%;
}

.popup_wrap .p_position .block_content .inner .img_gift .gift_num{
	width:92%;
	margin:0 auto;
	border-top:1px dashed #ffba92;
	padding-top:13px;
}
.popup_wrap .p_position .block_content .inner .img_gift .gift_num .label{
	width:30%;
	float:left;
	padding-top:6px;
}
.popup_wrap .p_position .block_content .inner .img_gift .gift_num .label img{
	width:90%;
}
.popup_wrap .p_position .block_content .inner .img_gift .gift_num .num{
	width:35%;
	float:left;
	text-align:left;
	padding-left:3%;
	color:#ff8c25;
	padding-top:5px;
}
.popup_wrap .p_position .block_content .inner .img_gift .gift_num .btn{
	float: right;
	width:25%;
	text-align:left;
}
.popup_wrap .p_position .block_content .inner .img_gift .gift_num .btn img{
	width:100%;
}

.block_btn_sns{
	width:87%;
	background:#f6dfce;
	padding:4% 6.5%;
	margin-top:20px;
	position:relative;
}
.block_btn_sns .txt{
	float:left;
	width:35%;
	padding-top:3%;
}
.block_btn_sns .txt img{
	width:100%;
}
.block_btn_sns .btn{
	float:right;
	width:52%;
	position:relative;
	text-align:right;
}
.block_btn_sns .btn a img{
	width:22%;
}
.popup_wrap .p_position .block_content .inner .bar{
	padding:0 0;
	margin-bottom:10px;
	border-bottom:1px solid #f6aa7f;
	width:95%;
}

.popup_wrap .p_position .block_content .inner .block_ckeck {
	padding-left:5%;
	width:95%;
	padding-bottom:0;
}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check{
	width:100%;
}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check.all{
	font-weight:bold;
	padding-top:20px;
	width:100%;
}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .in_check,
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .label_check,
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .btn_check{
	float:left;
	font-size:12px;
	font-weight:bold;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	color:#807b77;
	font-weight:normal;

}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .in_check{
	width:25px;
}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .label_check{
	font-size:12px;
	padding-top:2px;
	letter-spacing:-1px;
}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check.all .label_check{
	font-weight:bold;
}

.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .btn_check{
	width:20%;
	padding-right:5%;
	padding-top:0;
	float:right;
	text-align:right;
	color:#65615e;
	font-weight:bold;
	text-decoration:underline;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .btn_check a{
	color:#65615e;
}
.popup_wrap .p_position .block_content .inner .block_ckeck .inner_check .btn_check img{
	width:100%;
}

.popup_wrap .p_position .block_content .inner .txt_notice{
	width:100%;
	text-align:center;
	padding-top:15px;
}
.popup_wrap .p_position .block_content .inner .txt_notice img{
	width:100%;
}

.t_bold{
	font-weight:bold;
}







.popup_wrap .p_position .block_content .inner .quiz{
	position:relative;
}
.popup_wrap .p_position .block_content .inner .quiz .block_input{
	position: absolute;
	width:40%;
	top:34.5%;
	left:60.3%;
}
@media screen and (min-device-width: 360px) and (max-device-width: 373px) {
	.popup_wrap .p_position .block_content .inner .quiz .block_input{
		top:35%;
	}
	.popup_wrap .p_position .block_content .inner .quiz .block_input .inner_input div input{
		width:78%;
		text-align:center;
		line-height:18px;
		height:30px;
	}
	
}
@media screen and (min-device-width: 374px) and (max-device-width: 400px) {
	.popup_wrap .p_position .block_content .inner .quiz .block_input{
		top:36.2%;
	}
	.popup_wrap .p_position .block_content .inner .quiz .block_input .inner_input div input{
		width:78%;
		text-align:center;
		line-height:18px;
		height:30px;
	}
	
}
@media screen and (min-device-width: 401px) and (max-device-width: 800px) {
	.popup_wrap .p_position .block_content .inner .quiz .block_input{
		top:36%;
	}
	.popup_wrap .p_position .block_content .inner .quiz .block_input .inner_input div input{
		width:78%;
		text-align:center;
		line-height:18px;
		height:30px;
	}
	
}
@media screen and (min-device-width: 1023px) and (max-device-width: 1200px) {
	.popup_wrap .p_position .block_content .inner .quiz .block_input{
		top:37%;
	}
	.popup_wrap .p_position .block_content .inner .quiz .block_input .inner_input div input{
		width:78%;
		text-align:center;
		line-height:18px;
		font-size:30px;
		height:40px;
	}
	
}
.popup_wrap .p_position .block_content .inner .quiz .block_input .inner_input{
	width:100%;
}
.popup_wrap .p_position .block_content .inner .quiz .block_input .inner_input div{
	float:left;
	width:21%;
	height:20%;
}

.popup_wrap .p_position .block_content .inner .quiz .block_input .inner_input div input{
	border:none;
	width:78%;
	text-align:center;
	height:auto;
	font-size:17px;
	font-weight:bold;
	color:#302185;
	line-height:17px;
	height:23px;
	background: none;
}

.popup_wrap .p_position .block_content .inner .quiz .btn_hint{
	position: absolute;
	width:25%;
	bottom:16%;
	right:41%;
}
.popup_wrap .p_position .block_content .inner .quiz .btn_hint a img{
	width:100%;
}

.popup_wrap .p_position .block_content .inner .quiz .bg_qiuz img,
.popup_wrap .p_position .block_content .inner .quiz .bg_qiuz{
	width:100%;
}



/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

.mobile_menu{
	position:absolute;
	width:55%;
	height:100%;
	background:#fff8ed;
	top:0;right:0;
	display:none;
	z-index:9;
	padding-top:65px;
}
.mobile_menu ul li{
	list-style:none;
	border-bottom:1px solid #ede5d8;
	padding:15px 0 10px;
	padding-left:10%;
	width:90%;
}
.mobile_menu ul li img{
	width:90%;
}
.mobile_menu .btn_sns{
	width:82%;
	margin:0 auto;
	padding:17px 0;
}
.mobile_menu .btn_sns .inner_sns{
	width:100%;
}
.mobile_menu .btn_sns .inner_sns a{
	display:block;
	float:left;
	width:25%;
	text-align:center;
}
.mobile_menu .btn_sns .inner_sns a img{
	width:84%;
}


.blank{
	width:0;
}


.block_content img.pop_img{
	width:100%;
}



/* 팝업 jQuery ( Magnific-Popup ) 관련 CSS */
/* Styles for dialog window */
#input_1 {
	background: white;
	position: relative;
}

.mask{display:none; position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/mask_bg.png) repeat;z-index:8}



/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0.01;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
