@charset "UTF-8";


/* CSS Document */
*,html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family:font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
input{
	font-family:font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none !important;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}






/* common */
body{
/*  background:url(../images/bg.jpg);*/
	width:100%;
}

.sec_navi{
	top:0;left:0;z-index:200;
	width:100%;
	position:absolute;
}
.navi{
	height:50px;
	position:relative;
	padding-top:15px;
}
.navi .left{
	position:absolute;
	left:1%;
	padding-top:0;
}
.navi .right{
	position:absolute;
	right:1%;
	width:720px;
	padding-top:0;
	text-align:right;
}
.navi .right .right_wrap{
	
}
.navi .right .menu{
	float:left;
	padding-top:8px;
}
.navi .right .menu .inner a{
	display:block;
	float:left;
	padding-right:25px;
}
.navi .right .sns{
	float:right;
	padding-top:3px;
}



.sec_right_navi{
	position:absolute;
	right:20px;
	top:50%;
	width:50px;
	z-index:101;
}

body.main{
	background:url(../images/bg.jpg) repeat-x center top;
}
body.sub{
	background:url(../images/bg_sub.jpg);	
}
.sec_top{
	width:100%;
	text-align:center;
	position:absolute;
	z-index:1;
	bottom:0;
}
.sec_top .bg_top img{
	width:100%;
}


.wrap_sec_top_title{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:54%;
	z-index:3;
}



.wrap_sec_top_btn_block{
	position:absolute;
	text-align:center;
	width:500px;
	top:47%;
	left:50%;
	margin-left:-250px;
	z-index:3;
}

.wrap_sec_top_img_gift{
	position:absolute;
	width:100%;
	z-index:3;
	top:75%;
	background:url(../images/bg_img.jpg) 0 0;
	height:179px;
}
.wrap_sec_top_img_gift a{
	display:block;
	position:relative;
	text-align:center;
	width:100%;
	height:179px;
}
.wrap_sec_top_img_gift a img{
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-320px;
}



.sub_2_all{
	width:100%;
	position:absolute;
	padding-top:30px;
}

.wrap_sec_sub_1_top{
	width:765px;
	margin:0 auto;
}
.wrap_sec_sub_1_top .title{
	text-align:center;
	padding:30px 0;
}
.wrap_movie{
	width:940px;
	margin:0 auto;
}
.wrap_movie .inner{
	width:100%;
}
.wrap_sec_sub_1_mid{
	width:735px;
	float:left;
}
.wrap_sec_sub_1_mid .block_movie{
	background:url(../images/bg_movie2.png) no-repeat 0 0;
	height:600px;
	position:relative;
}
.wrap_sec_sub_1_mid .block_movie .btn_product{
	position:absolute;
	top:17px;
	right:60px;
}
.wrap_sec_sub_1_mid .block_movie .label_ch{
	padding:30px 0 15px;
	padding-left:47px;
}

.wrap_sec_sub_1_mid .block_movie .movie{
	background:#ccc;
	width:625px;
	height:330px;
	margin-left:50px;
}

.wrap_sec_sub_1_mid .block_movie .btn_block{
	text-align:center;
	padding-top:20px;
}

.wrap_sec_sub_1_bottom{
	float:right;
	width:180px;
	text-align:right;
}

.wrap_sec_sub_1_bottom .thumb_movie a{
	display:block;
	padding-bottom:8px;
}



body.sub2{
	background:url(../images/bg_sub_bottom.jpg);
}
.wrap_sec_sub_2_top{
	width:100%;
	text-align:center;
	position:relative;
}
.wrap_sec_sub_2_top .bg_top{
	width:100%;
	bottom:0;
	position:absolute;
}
.wrap_sec_sub_2_top .bg_blank{
	width:100%;
	height:350px;
}
.wrap_sec_sub_2_top .bg_top img{
	width:100%;
}
.wrap_sec_sub_2_top .title{
	position:absolute;
	width:100%;
	text-align:center;
	z-index:100;
	top:60px;
}

.sec_comment{
	width:600px;
	margin:0 auto;
	padding-top:20px;
}


.wrap_sec_gift{
	background:#f9eddc;
}
.sec_gift{
	border-top:none;
	padding:0;
	text-align:center;
}




.wrap_sec_footer{
	background:url(../images/bg_footer.jpg) repeat-x;
	width:100%;
	margin-top:-4px;
}
.sec_footer{
	padding:30px 0 50px;
	width:940px;
	margin:0 auto;
}



/*popup*/
.popup_wrap {
	position:relative;
}
.popup_wrap .p_position{
	position:relative;
	width:600px;
	height:700px;
}
.popup_wrap .p_position .block_content{
	z-index:200;
}



.popup_wrap .p_position .block_close {
	width:100%;
	position:absolute;
	padding:0 0 0;
	z-index:300;
	top:20px;
	right:20px;
}
.popup_wrap .p_mid_col.p_position .block_close {
	width:100%;
	position:absolute;
	padding:0 0 0;
	z-index:300;
	top:15px;
	right:15px;
}
.popup_wrap .block_close .btn_close{
	display:block;
	float:right;
	width:30px;
	height:30px;
}
.popup_wrap .title{
	text-align:center;
}


/*팝업별 사이즈 조정*/
.popup_wrap .p_position.p_mid{
	position:relative;
	width:500px;
	height:600px;
}


.popup_wrap .p_position.p_mid.posting{
	position:relative;
	width:950px;
	height:700px;
	background:url(../images/popup/bg_posting.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.posting .block_content{
	width:950px;
	height:700px;	
}
.popup_wrap .p_position.p_mid.posting .block_content .post_top{
	padding:0;
	width:100%;
}
.popup_wrap .p_position.p_mid.posting .block_content .title{
	float:left;
	padding-left:40px;
	padding-bottom:0;
	padding-top:55px;
}
.popup_wrap .p_position.p_mid.posting .block_content .tab_menu{
	float:right;
	text-align:right;
	padding-top:43px;
	padding-right:63px;
}
.popup_wrap .p_position.p_mid.posting .block_content .tab_menu a{
	display:block;
	float:left;
}
.popup_wrap .p_position.p_mid.posting .block_content .btn_block {
	width:600px;
	padding-top:68px;
	padding-left:350px;
}
.popup_wrap .p_position.p_mid.posting .block_content .btn_block .bt{
	width:289px;
	height:59px;
	background:url(../images/popup/btn_suggest.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.posting .block_content .btn_block .bt a{
	display:block;
	padding:17px 0;
	padding-right:40px;
	text-align:right;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

.popup_wrap .p_position.p_mid.posting .block_content .btn_block .cnt .inner{
	font-weight:bold;
	color:#ff8c25;
	font-size:15px;
	padding-top:13px;
	line-height:18px;
}
.popup_wrap .p_position.p_mid.posting .block_content .txt_posting{
	text-align:center;
	padding-top:6px;
}


.popup_wrap .p_position.p_mid.posting .block_content .block_comment{
	width:950px;
}
.popup_wrap .p_position.p_mid.posting .block_content .block_comment .txt,
.popup_wrap .p_position.p_mid.posting .block_content .block_comment .bt{
	float:left;
}

.popup_wrap .p_position.p_mid.posting .block_content .block_comment .txt{
	padding-left:220px;
	padding-top:27px;
	font-size:13px;
	width:573px;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	color:#666;
}
.popup_wrap .p_position.p_mid.posting .block_content .block_comment .bt{
	padding-top:16px;
}

.popup_wrap .p_position.p_mid.posting .block_content .block_comment .txt span.t{
	display:inline-block;
	padding-left:8px;
	color:#444;
	font-weight:bold;
}


.popup_wrap .p_position.p_mid.ending{
	position:relative;
	width:450px;
	height:590px;
	background:url(../images/popup/bg_thanks.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.out{
	position:relative;
	width:410px;
	height:270px;
	background:url(../images/popup/bg_out.png) no-repeat top left;
}


.popup_wrap .p_position.p_mid.view_p_1{
	position:relative;
	width:520px;
	height:470px;
	background:url(../images/popup/bg_p_1.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.view_p_2{
	position:relative;
	width:520px;
	height:470px;
	background:url(../images/popup/bg_p_2.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.view_p_3{
	position:relative;
	width:520px;
	height:470px;
	background:url(../images/popup/bg_p_3.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.view_p_4{
	position:relative;
	width:520px;
	height:470px;
	background:url(../images/popup/bg_p_4.png) no-repeat top left;
}

.popup_wrap .p_position.p_mid.howto{
	position:relative;
	width:550px;
	height:480px;
	background:url(../images/popup/bg_howto.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.howto .block_content a.btn_notice{
	width:120px;
	height:40px;
	position:absolute;
	bottom:55px;
	right:60px;
	text-indent:-99999px;
}
.popup_wrap .p_position.p_mid.notice{
	position:relative;
	width:430px;
	height:374px;
	background:url(../images/popup/bg_notice.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.gift{
	position:relative;
	width:670px;
	height:610px;
	background:url(../images/popup/bg_gift.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.gift .block_content a{
	display:block;
	position:absolute;
	top:510px;
}
.popup_wrap .p_position.p_mid.gift .block_content a.pro_1{
	left:50%;
	margin-left:-100px;
}


.popup_wrap .p_position.p_mid.deal{
	position:relative;
	width:822px;
	height:594px;
	background:url(../images/popup/bg_deal.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.deal .block_content a{
	display:block;
	position:absolute;
	top:415px;
	left:50%;
	margin-left:-170px;
	width:340px;
	height:50px;
	text-indent:-9999px;
}


.popup_wrap .p_position.p_mid.small{
	position:relative;
	width:500px;
	height:300px;
	background:url(../images/popup/bg_small.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.small .block_content{
	width:500px;
	height:300px;	
}
.popup_wrap .p_position.p_mid.small .block_content .block_btn{
	text-align:center;
}
.popup_wrap .p_position.p_mid.small .block_content .btn_sns_block{
	text-align:right;
	padding-right:95px;
	padding-top:32px;
}

.popup_wrap .p_position.p_mid_comment{
	background:url(../images/popup/bg_comment.png) no-repeat top left;
	position:relative;
	width:550px;
	height:410px;
}
.popup_wrap .p_position.p_mid_comment .title{
	padding-top:64px;
}
.popup_wrap .p_position.p_mid_comment .block_input {
	padding-top:33px;
}
.popup_wrap .p_position.p_mid_comment .block_input .input_one {
	width:100%;
}
.popup_wrap .p_position.p_mid_comment .block_input .input_one.textarea {
	padding-top:5px;
	padding-bottom:90px;
}
.popup_wrap .p_position.p_mid_comment .block_input .input_one.textarea textarea{
	width:358px;
	height:18px;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	background:none;
	border:none;
	padding:5px 3px;
    background: #f9ede3;
    border: none;
    border-left: 2px solid #efe4da;
    border-top: 2px solid #efe4da;		
}
.popup_wrap .p_position.p_mid_comment .block_input .input_one .label{
	display:none;
}
.popup_wrap .p_position.p_mid_comment .block_input .input_one .input{
	padding-left:125px;
}
.popup_wrap .p_position.p_mid_comment .block_input .input_one .input input{
	padding:5px 3px;
	width:160px;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	color:#000;
    background: #f9ede3;
    border: none;
    border-left: 2px solid #efe4da;
    border-top: 2px solid #efe4da;	
}

.popup_wrap .p_position.p_mid.gift_check .block_content .title{
	padding-top:50px;
	padding-bottom:20px;
}
.popup_wrap .p_position.p_mid.gift_check .block_content .yes_gift{
	margin:0 auto;
	width:420px;
	padding-top:20px;
}
.popup_wrap .p_position.p_mid.gift_check .block_content .yes_gift .inner_yes_gift{
	background:#fdf9f4;
	padding:10px;
}
.popup_wrap .p_position.p_mid .block_content .check_num .inner{
	width:100%;
}
.popup_wrap .p_position.p_mid .block_content .yes_gift .block_gift_num {
	padding:10px 0;
	overflow:auto;
	height:150px;
}
.popup_wrap .p_position.p_mid .block_content .yes_gift .block_gift_num .inner{
	width:100%;
	padding:4px 0;
}
.popup_wrap .p_position.p_mid .block_content .block_gift_num .inner div.txt,
.popup_wrap .p_position.p_mid .block_content .block_gift_num .inner div.txt.num,
.popup_wrap .p_position.p_mid .block_content .block_gift_num .inner div.btn{
	float:left;
	width:30%;
	text-align:center;
}
.popup_wrap .p_position.p_mid .block_content .block_gift_num .inner div.btn{
	text-align:left;
	width:20%;
}

.popup_wrap .p_position.p_mid .block_content .block_gift_num .inner div.txt{
	width:40%;
}

.popup_wrap .p_position.p_mid .block_content .check_num .inner div.btn{
	width:30%;
}

.popup_wrap .p_position.p_mid .block_content .yes_gift .block_gift_num .inner .txt{
	padding-top:6px;
	float:left;
	font-size:13px;
	color:#6d6b69;
	line-height:18px;
	font-weight:bold;
}

.popup_wrap .p_position.p_mid .block_content .yes_gift .block_label {
	border-bottom:1px solid #e4d8c7;
	width:100%;
	position:relative;
	padding:10px 0;
}

.popup_wrap .p_position.p_mid .block_content .yes_gift .block_label .name,
.popup_wrap .p_position.p_mid .block_content .yes_gift .block_label .num{
	float:left;
	width:40%;
	text-align:center;
}

.popup_wrap .p_position.p_mid .block_content .yes_gift .block_label .num{
	width:30%;
}
.popup_wrap .p_position.p_mid .block_content .yes_gift .block_go_home .notice{
	padding-top:15px;
	padding-left:25px;
}



.popup_wrap .p_position.p_mid .block_content .no_gift {
	padding-top:20px;
}
.popup_wrap .p_position.p_mid .block_content .no_gift .btn_block{
	padding-top:0;
}


.popup_wrap .p_position.p_mid_agree{
	position:relative;
	width:450px;
	height:524px;
	background:url(../images/popup/bg_agree.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid_input{
	position:relative;
	width:450px;
	height:590px;
	background:url(../images/popup/bg_input.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid_input .block_content{
	padding-top:170px;
}
.popup_wrap .p_position.p_mid.gift_check{
	position:relative;
	width:500px;
	height:630px;
	background:url(../images/popup/bg_gift_check.png) no-repeat top left;
}
.popup_wrap .p_position.p_mid.gift_check .block_content{
	width:500px;
	height:630px;
}

.popup_wrap .p_position.p_mid.gift_check .block_content .check_name{
	padding-left:117px;
	padding-top:10px;
	padding-bottom:13px;
}
.popup_wrap .p_position.p_mid.gift_check .block_content .check_name input{
	width:198px;
	padding:3px;
	color:#000;
	font-weight:bold;
	font-size:14px;
	line-height:20px;
	border:none;
	background:#fff;
	border-left:2px solid #ddd;
	border-top:2px solid #ddd;
}
.popup_wrap .p_position.p_mid.gift_check .block_content .check_num{
	padding-left:117px;
}
.popup_wrap .p_position.p_mid.gift_check .block_content .check_num div.in,
.popup_wrap .p_position.p_mid.gift_check .block_content .check_num div.btn {
	width:87px;
	float:left;
}
.popup_wrap .p_position.p_mid.gift_check .block_content .check_num div.in input {
	width:70px;
	padding:3px;
	color:#000;
	font-weight:bold;
	font-size:14px;
	line-height:20px;
	border:none;
	background:none;
	background:#fff;
	border-left:2px solid #ddd;
	border-top:2px solid #ddd;	
}

.popup_wrap .p_position.p_mid.gift_check .block_content .check_num div.in select {
	width:73px;
	height:30px;
	padding:3px;
	color:#000;
	font-weight:bold;
	font-size:14px;
	line-height:20px;
	border:none;
	background:#fff;
	border-left:2px solid #ddd;
	border-top:2px solid #ddd;
}



/*팝업별 타이틀 위치 조정*/
.popup_wrap .p_position.p_mid .block_content .title{
	padding-top:50px;
	padding-bottom:20px;
}
.popup_wrap .p_position.p_mid.ending .block_content .title{
	padding-top:35px;
	padding-bottom:19px;
}
.popup_wrap .p_position.p_mid_input .block_content .title{
	padding-top:40px;
}




/*****팝업별 버튼 위치 조정*****/
/*디폴트 버튼 스타일*/
.popup_wrap .p_position .btn_block{
	text-align:center;
}
.popup_wrap .p_position.p_mid .btn_block{
	text-align:center;
	padding-top:30px;
}
.popup_wrap .p_position.p_mid_input .btn_block{
	text-align:center;
	padding-top:5px;
}
.popup_wrap .p_position.p_mid_input .btn_block.end{
	text-align:center;
	padding-top:20px;
}


/*****팝업별 노티스 텍스트 위치 조정*****/
.popup_wrap .p_position .txt_notice{
	text-align:center;
}
.popup_wrap .p_position.p_mid_agree .block_content{
	padding:50px 40px;
}
.popup_wrap .p_position.p_mid_agree .block_content .inner{
	overflow:scroll; 
	width:360px;
	height:390px;
	font-size:13px;
	line-height:17px;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	color:#666;
}

.popup_wrap .p_position.p_mid_agree .block_content .inner .title{
	padding:10px 0 30px;
}



/*개인정보입력*/
.popup_wrap .p_position.p_mid_input .block_input{
	padding-left:70px;
	padding-top:45px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one{
	width:100%;
	padding-bottom:7px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .label,
.popup_wrap .p_position.p_mid_input .block_input .input_one .input,
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone{
	float:left;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .label{
	display:none;
}

.popup_wrap .p_position.p_mid_input .block_input .input_one .input,
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone{
	padding-left:0;
}

.popup_wrap .p_position.p_mid_input .block_input .input_one input{
	padding:8px 3px;
	width:300px;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	color:#fff;
	background: #abd6ce; 
}



.popup_wrap .p_position.p_mid_input .block_input .input_one select{
	border:none;
	padding:5px 3px;
	width:73px;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	color:#000;
	height:30px;
	border-radius:none;
    background: #f9ede3; 
	border: none; 
	border-left: 2px solid #efe4da; 
	border-top: 2px solid #efe4da;	
}

.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip input{
	width:73px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip,
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip_dash{
	float:left;
	width:88px;
}
.popup_wrap .p_position.p_mid_input .block_input .input_one .input_phone .phone_ip_dash{
	width:18px;
	text-align:center;
	padding-top:7px;
}

.popup_wrap .p_position.p_mid_input .check_block{
	padding: 20px 72px 10px 70px;
}
.popup_wrap .p_position.p_mid_input .check_block .check_one{
	width:100%;
}
.popup_wrap .p_position.p_mid_input .check_block .check_one.first{
	border-top:1px solid #735d46;
	padding-top:10px;
}
.popup_wrap .p_position.p_mid_input .check_block .check_one .in_check,
.popup_wrap .p_position.p_mid_input .check_block .check_one .txt_check,
.popup_wrap .p_position.p_mid_input .check_block .check_one .btn_check{
	float:left;
}

.popup_wrap .p_position.p_mid_input .check_block .check_one .in_check{
	padding-top:2px;
}
.popup_wrap .p_position.p_mid_input .check_block .check_one .btn_check{
	float:right;
	text-align:right;
	padding-right:0;
}
.block_btn_home{
	position:absolute;
	left:90px;
	top:485px;
}
.block_btn_keep{
	position:absolute;
	left:100px;
	top:170px;
}



/* 팝업 jQuery ( Magnific-Popup ) 관련 CSS */
/* Styles for dialog window */
#input_1 {
	background: white;
	position: relative;
}

.mask{display:none; position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/mask_bg.png) repeat;z-index:8}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0.01;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}




