/*==========================================================================================================================================================*/

/* !-----  COMMON */

/*==========================================================================================================================================================*/
/*@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
*						{ position: relative; margin: 0px; border: 0px; padding: 0px; }
html,body				{ width: 100%; height: 100%; min-width: 1200px; min-height: 600px; }
p, input,a,li,textarea	{ font-family: "Nanum Gothic", "Dotum", "Malgun Gothic", "Helvetica", "Apple SD Gothic Neo", "serif"; outline: none; font-size: 12px; color: #565656; }
ul, li					{ list-style-type: none; list-style: none; }
.ar-normal-bt 			{ cursor: pointer; }
.ar-opacity-bt 			{ cursor: pointer; }
.center-box				{ position: absolute; left: 50%; top: 50%; }
.ar-full-bg				{ position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; }
.content-1				{ background-image: url(../img/content-1.png); }
.content-2				{ background-image: url(../img/content-2.png); }
.hide-loader-1 			{ position: absolute; width: 1px; height: 1px; left: -100px; top: -100px; background-image: url(../img/content-2.png); }
.bg-pattern-1 			{ position: absolute; left: 0%; bottom: 0px; width: 100%; height: 156px; background: url(http://d246vnevj641m5.cloudfront.net/theremedy201506/pc/bg-pattern.png) repeat; }
.bg-pattern-2 			{ position: absolute; left: 0%; bottom: 0px; width: 100%; height: 47px; background: url(http://d246vnevj641m5.cloudfront.net/theremedy201506/pc/bg-pattern.png) repeat; }
.bg-pattern-3 			{ position: absolute; left: 0%; bottom: 0px; width: 100%; height: 123px; background: url(http://d246vnevj641m5.cloudfront.net/theremedy201506/pc/bg-pattern.png) repeat; }
.bg-product-1			{ position: absolute; left: 50%; bottom: 119px; margin-left: 166px; width: 480px; height: auto; }
.bg-product-2			{ position: absolute; left: 50%; bottom: 8px; margin-left: 161px; width: 480px; height: auto; }
.bg-product-3			{ position: absolute; left: 50%; bottom: 92px; margin-left: 240px; width: 374px; height: auto; }
.bg-root-1	 			{ position: absolute; left: 50%; bottom: 9px; margin-left: -538px; }
.bg-root-2 				{ position: absolute; left: 50%; bottom: 0px; margin-left: 402px; }
.bg-root-3 				{ position: absolute; left: 50%; bottom: -47px; margin-left: -538px; }
.bg-root-4 				{ position: absolute; left: 50%; bottom: -67px; margin-left: 440px; }
/*==========================================================================================================================================================*/

/* !----- Main */

/*==========================================================================================================================================================*/
#contents				{ width: 100%; height: 100%; min-width: 1200px; min-height: 600px; overflow: hidden; }
.logo 					{ position: absolute; left: 52px; top: 47px; width: 161px; height: 42px; z-index: 10; }
/*==========================================================================================================================================================*/

/* !----- PAGE */

/*==========================================================================================================================================================*/
.pages					{ display: none; width: 100%; height: 100%; min-width: 1200px; min-height: 600px; } 
#page-main				{ display: block; }
.main-bg 				{ z-index: 1; }
#main-bgs 				{ position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
#main-contents 			{ position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 4; }
#main-container 		{ width: 431px; height: 456px; margin: -299px 0px 0px -215px; }
#main-title				{ top: 0px; margin: 0 auto; }
#main-descript			{ top: 29px; margin: 0 auto; }
#main-bt-start			{ top: 57px; margin: 0 auto; }
#main-bt-start-over		{ top: 57px; margin: 0 auto; }
#main-bt-event 			{ position: absolute; left: 50%; bottom: 13px; margin-left: -73px; }
#main-event-1 			{ position: absolute; left: 50%; bottom: 45px; margin-left: -326px; } 
#main-event-2 			{ position: absolute; left: 50%; bottom: 45px; margin-left: 7px; }

#page-month				{ }
#month-container 		{ width: 1057px; height: 437px; margin: -218px 0px 0px -528px; }
#month-title			{ top: 0px; margin: 0 auto; }
#month-select-box 		{ top: 49px; margin: 0 auto; width: 1057px; height: 77px; }
.month-selector 		{ float: left; width: 88px; height: 100%; }
.month-selector-border	{ width: 87px; height: 76px; border: 1px solid white; opacity: 0.5; filter: alpha(opacity=50); }
.month-selector-bg		{ position: absolute; width: 100%; height: 100%; background: #39241d; display: none; }
.month-selector-imgs 	{ position: absolute; left: 0px; top: 0px; }
#month-descript 		{ width: 868px; height: 93px; top: 81px; margin: 0 auto; display: block; }
#month-bt-select-bg 	{ position: absolute; width: 100%; height: 100%; background: #39241d; display: none; }
#month-bt-box 			{ top: 104px; margin: 0 auto; width: 310px; height: 58px; }

#page-calendar 			{ }
#calendar-bgs 			{ position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
#calendar-contents 		{ position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 1; }
#calendar-loading 		{ position: absolute; left: 0px; top: 0px; width: 0%; height: 5px; background: white; }
#calendar-text 			{ position: absolute; left: 12.6%; top: 21.5%; width: auto; height: auto; }
#calendar-title 		{ position: absolute; left: 2px; top: 0px; width: 475px; height: 358px; }
.calendar-copy 			{ position: absolute; left: 0px; top: 0px; }
#calendar-descript 		{ position: absolute; left: 2px; top: 207px; display: none; }
#calendar-bt-okay 		{ position: absolute; left: 0px; top: 389px; }
#calendar-bt-okay-over 	{ position: absolute; left: 0px; top: 389px; }

#page-sample 			{ display: none; }
#sample-container 		{ width: 814px; height: 599px; margin: -299px 0px 0px -407px; }
#sample-title			{ top: 0px; margin: 0 auto; }
#sample-box 			{ top: 19px; margin: 0 auto; }
#sample-name			{ position: absolute; left: 62px; top: 45px; width: 166px; height: 54px; line-height: 54px; color: #442d26; font-size: 17px; background: white; }
#sample-tel				{ position: absolute; left: 257px; top: 45px; width: 241px; height: 54px; line-height: 54px; color: #442d26; font-size: 17px; background: white; }
#sample-policy			{ position: absolute; left: 198px; top: 295px; display: none; }
#sample-store 			{ position: absolute; left: 522px; top: 45px; width: 210px; height: 54px; line-height: 54px; color: #442d26; font-size: 17px; }
#sample-selector 		{ position: absolute; top: 157px; cursor: pointer; }
.sample-selector-0		{ display: none; }
.sample-selector-1		{ left: 52px; display: block; }
.sample-selector-2		{ left: 409px; display: block; }
.sample-selector-bg-0 	{ display: none; }
.sample-selector-bg-1 	{ display: block; position: absolute; left: 52px; top: 157px; width: 355px; height: 117px; background: #e8d8bd; opacity: 0.81; filter: alpha(opacity=81); }
.sample-selector-bg-2 	{ display: block; position: absolute; left: 409px; top: 157px; width: 355px; height: 117px; background: #e8d8bd; opacity: 0.81; filter: alpha(opacity=81); }
#sample-bt-store 		{ position: absolute; left: 522px; top: 45px; width: 235px; height: 54px; background: white; opacity: 0; filter: alpha(opacity=0); }
#sample-bt-policy		{ position: absolute; left: 389px; top: 296px; }
#sample-bt-agree		{ position: absolute; left: 196px; top: 291px; }
#sample-bt-back			{ position: absolute; left: 185px; top: 331px; }
#sample-bt-coupon		{ position: absolute; left: 415px; top: 331px; }
#sample-bt-product-1 	{ position: absolute; left: 52px; top: 157px; }
#sample-bt-warning 		{ position: absolute; left: 517px; top: 296px; }
#sample-bt-product-1-over{ position: absolute; left: 52px; top: 157px; display: none; cursor: pointer; }
#sample-bt-product-2 	{ position: absolute; left: 409px; top: 157px; }
#sample-bt-product-2-over{ position: absolute; left: 409px; top: 157px; display: none; cursor: pointer; }

#page-share 			{ display: none; }
#share-container 		{ width: 563px; height: 521px; margin: -295px 0px 0px -281px; }
#share-user 			{ width: 100%; height: 25px; text-align: center; }
#share-default 			{ top: 0px; margin: 0 auto; }
#share-month 			{ display: inline-block; *display: inline; zoom: 1; width: auto; line-height: 25px; color: #543a33; font-size: 22px; height: 25px; }
#share-from-month 		{ display: inline-block; *display: inline; zoom: 1; top: 5px; }
#share-name 			{ display: inline-block; *display: inline; zoom: 1; width: auto; line-height: 25px; color: #543a33; font-size: 22px; height: 25px; margin-left: 12px; }
#share-from-name 		{ display: inline-block; *display: inline; zoom: 1; top: 5px; }
#share-title 			{ top: 7px; margin: 0 auto; }
#share-stamp 			{ position: absolute; left: 563px; top: 8px; }
#share-movie-box		{ position: absolute; left: 0px; top: 145px; width: 563px; height: 335px; }
#share-movie 			{ width: 100%; height: 100%; }
#share-bt-play			{ position: absolute; left: 0px; top: 0px; }
#share-event 			{ position: absolute; left: 50%; bottom: 78px; margin-left: -118px; }
#share-bt-facebook 		{ position: absolute; left: 50%; bottom: 11px; margin-left: -280px; }
#share-bt-twitter 		{ position: absolute; left: 50%; bottom: 11px; margin-left: 3px; }
/*==========================================================================================================================================================*/

/* !------------------------------------------------- */
/* ! 	POPUP */

/*==========================================================================================================================================================*/
.popup					{ position: absolute; width: 100%; height: 100%; z-index: 20; display: none; overflow: hidden; }
.popup-bg				{ position: absolute; width: 100%; height: 100%; opacity: 0.5; filter: alpha(opacity=50); background: black; }
.popup-content			{ position: absolute; width: 100%; height: 100%; }
.popup-normal-bt		{ cursor: pointer; }
.popup-opacity-bt		{ cursor: pointer; }
#popup-bt-close			{ position: absolute; left: 100%; top: -25px; width: 25px; height: 25px; background-position: -160px -100px; }

#popup-1 				{ width: 712px; height: 424px; margin: -212px 0px 0px -356px; }
#popup-1-name			{ position: absolute; left: 109px; top: 62px; width: auto; height: 24px; line-height: 24px; color: #442d26; font-size: 20px;  }
#popup-1-bt-event		{ position: absolute; left: 233px; top: 344px; }
#popup-1-bt-close		{ position: absolute; left: 679px; top: 15px; }

#popup-2 				{ width: 712px; height: 409px; margin: -204px 0px 0px -356px; }
#popup-2-name			{ position: absolute; left: 108px; top: 58px; width: auto; height: 27px; line-height: 27px; color: #442d26; font-size: 22px;  }
#popup-2-bt-facebook	{ position: absolute; left: 74px; top: 341px; }
#popup-2-bt-home		{ position: absolute; left: 259px; top: 341px; }
#popup-2-bt-main		{ position: absolute; left: 446px; top: 341px; }
#popup-2-bt-close		{ position: absolute; left: 679px; top: 15px; }

#popup-3 				{ width: 548px; height: 575px; margin: -287px 0px 0px -274px; }
#popup-3-bt-okay		{ top: 501px; margin: 0 auto; }
#popup-3-bt-close		{ position: absolute; left: 556px; top: 0px; }

#popup-4 				{ width: 772px; height: 498px; margin: -249px 0px 0px -386px; }
#popup-4-location-1 	{ position: absolute; left: 74px; top: 130px; width: 161px; height: 45px; line-height: 45px; color: #1c1411; font-size: 18px; }
#popup-4-location-2 	{ position: absolute; left: 258px; top: 130px; width: 185px; height: 45px; line-height: 45px; color: #1c1411; font-size: 18px; }
.popup-4-rows 			{ position: absolute; left: 77px; width: 537px; height: 45px; line-height: 45px; color: #32211b; font-size: 14px; }
.popup-4-rows > span    { font-size: 17px; margin-right: 17px; }
.popup-4-number-box 	{ display: inline-block; *display: inline; zoom: 1; width: 28px; height: 32px; top: 0px; background: #c3bfb2; margin-right: 9px; }
.popup-4-number 		{ position: absolute; left: 2px; top: 2px; width: 24px; height: 28px; background: white; text-align: center; color: #442d26; line-height: 28px; }
.popup-4-bt-select-1 	{ position: absolute; left: 614px; top: 200px; display: none; }
.popup-4-bt-select-2 	{ position: absolute; left: 614px; top: 245px; display: none; }
.popup-4-bt-select-3 	{ position: absolute; left: 614px; top: 291px; display: none; }
.popup-4-bt-select-4 	{ position: absolute; left: 614px; top: 336px; display: none; }
.popup-4-bt-select-5 	{ position: absolute; left: 614px; top: 382px; display: none; }
#popup-4-row-1 			{ top: 193px; }
#popup-4-row-2 			{ top: 238px; }
#popup-4-row-3 			{ top: 283px; }
#popup-4-row-4 			{ top: 329px; }
#popup-4-row-5 			{ top: 375px; }
#popup-4-indexs 		{ position: absolute; left: 0px; top: 434px; width: 100%; height: 32px; text-align: center; }
#popup-4-numbers 		{ position: relative; width: auto; height: 32px; }
#popup-4-select-1 		{ position: absolute; left: 60px; top: 130px; width: 175px; height: 45px; opacity: 0; filter: alpha(opacity=0); -webkit-appearance: none;}
#popup-4-select-2 		{ position: absolute; left: 244px; top: 130px; width: 199px; height: 45px; opacity: 0; filter: alpha(opacity=0); -webkit-appearance: none;}
#popup-4-address 		{ position: absolute; left: 465px; top: 130px; width: 199px; height: 45px; line-height: 45px; color: #1c1411; font-size: 18px; }
#popup-4-bt-next 		{ top: 0px; display: inline-block; *display: inline; zoom: 1; }
#popup-4-bt-prev 		{ top: 0px; display: inline-block; *display: inline; zoom: 1; margin-right: 9px; }
#popup-4-bt-search 		{ position: absolute; left: 664px; top: 130px; width: 51px; height: 45px; background: white; opacity: 0; filter: alpha(opacity=0); }
#popup-4-bt-close		{ position: absolute; left: 728px; top: 20px; }

#popup-5 				{ width: 512px; height: 422px; margin: -211px 0px 0px -256px; }
#popup-5-policy 		{ position: absolute; left: 126px; top: 294px; display: none; }
#popup-5-name 			{ position: absolute; left: 89px; top: 150px; width: 328px; height: 54px; line-height: 54px; color: #442d26; font-size: 18px; background: white; }
#popup-5-tel 			{ position: absolute; left: 89px; top: 214px; width: 328px; height: 54px; line-height: 54px; color: #442d26; font-size: 18px; background: white; }
#popup-5-bt-agree 		{ position: absolute; left: 124px; top: 290px; }
#popup-5-bt-policy		{ position: absolute; left: 308px; top: 295px; }
#popup-5-bt-close		{ position: absolute; left: 467px; top: 13px; }
#popup-5-bt-okay 		{ position: absolute; left: 140px; top: 339px; }

#popup-6 				{ width: 772px; height: 351px; margin: -175px 0px 0px -386px; }
#popup-6-bt-close		{ position: absolute; left: 728px; top: 14px; }
/*==========================================================================================================================================================*/

/* !-----  POLICY */

/*==========================================================================================================================================================*/
#policy 				{ display: none; position: absolute; width: 100%; height: 100%; min-width: 1200px; min-height: 600px; z-index: 10000; opacity: 1; }
#policy-bg				{ width: 100%; height: 100%; opacity: 0.5; filter: alpha(opacity=50); background: black; }
#policy-content			{ position: absolute; left: 50%; top: 50%; margin: -255px 0px 0px -298px; }
#policy-bt-close		{ position: absolute; left: 552px; top: 17px; }
/*==========================================================================================================================================================*/

/* !-----  LOADING */

/*==========================================================================================================================================================*/
#loading				{ display: none; position: absolute; width: 100%; height: 100%; min-width: 1200px; min-height: 600px; z-index: 10000; opacity: 1; }
.loading-bg				{ width: 100%; height: 100%; opacity: 0.5; filter: alpha(opacity=50); background: black; }
.loading-content		{ position: absolute; left: 50%; top: 50%; width: 130px; height: 130px; margin: -65px 0px 0px -65px; }
/*==========================================================================================================================================================*/

/* !-----  TextureCSS */

/*==========================================================================================================================================================*/
#sample-box 		{ width: 814px; height: 399px; background-position: -2px -2px; }
#popup-1 		{ width: 712px; height: 424px; background-position: -2px -403px; }
#popup-2 		{ width: 712px; height: 409px; background-position: -818px -2px; }
#share-bt-play 		{ width: 563px; height: 335px; background-position: -2px -829px; }
#popup-3 		{ width: 548px; height: 575px; background-position: -716px -413px; }
#bg-root-2 		{ width: 229px; height: 660px; background-position: -1266px -413px; }
#bg-root-1 		{ width: 185px; height: 568px; background-position: -1497px -413px; }
#sample-title 		{ width: 555px; height: 181px; background-position: -567px -990px; }
#main-title 		{ width: 304px; height: 273px; background-position: -1532px -2px; }
#sample-selector 		{ width: 355px; height: 117px; background-position: -1532px -277px; }
#main-descript 		{ width: 431px; height: 80px; background-position: -1124px -1075px; }
#main-event-1 		{ width: 319px; height: 92px; background-position: -1684px -396px; }
#main-event-2 		{ width: 319px; height: 92px; background-position: -1684px -490px; }
#popup-3-bt-okay 		{ width: 298px; height: 53px; background-position: -1684px -584px; }
#share-bt-facebook 		{ width: 270px; height: 51px; background-position: -1684px -639px; }
#share-bt-twitter 		{ width: 270px; height: 51px; background-position: -1684px -692px; }
#main-bt-start-over 		{ width: 263px; height: 53px; background-position: -1684px -745px; }
#main-bt-start 		{ width: 263px; height: 53px; background-position: -1684px -800px; }
#popup-1-bt-event 		{ width: 249px; height: 52px; background-position: -1684px -855px; }
#sample-bt-coupon 		{ width: 221px; height: 45px; background-position: -1684px -909px; }
#share-stamp 		{ width: 145px; height: 121px; background-position: -567px -829px; }
#sample-bt-back 		{ width: 221px; height: 44px; background-position: -1684px -956px; }
#share-title 		{ width: 469px; height: 101px; background-position: -1557px -1002px; }
#share-default 		{ width: 419px; height: 24px; background-position: -1557px -1105px; }
#share-event 		{ width: 236px; height: 22px; background-position: -1557px -1131px; }
#popup-2-bt-home 		{ width: 186px; height: 40px; background-position: -1838px -2px; }
#popup-2-bt-facebook 		{ width: 185px; height: 40px; background-position: -1838px -44px; }
#popup-2-bt-main 		{ width: 185px; height: 40px; background-position: -1838px -86px; }
#sample-bt-agree 		{ width: 179px; height: 26px; background-position: -1838px -128px; }
#logo-1 		{ width: 161px; height: 42px; background-position: -1838px -156px; }
#logo-2 		{ width: 161px; height: 42px; background-position: -1838px -200px; }
#main-bt-event 		{ width: 150px; height: 23px; background-position: -1838px -244px; }
#share-from-month 		{ width: 127px; height: 24px; background-position: -1124px -990px; }
#sample-bt-policy 		{ width: 116px; height: 16px; background-position: -567px -952px; }
#share-from-name 		{ width: 104px; height: 24px; background-position: -1124px -1016px; }
#sample-bt-warning 		{ width: 107px; height: 16px; background-position: -1497px -983px; }
#popup-3-bt-close 		{ width: 32px; height: 32px; background-position: -1497px -1001px; }
#sample-policy 		{ width: 22px; height: 18px; background-position: -567px -970px; }
#popup-1-bt-close 		{ width: 20px; height: 20px; background-position: -1956px -639px; }

#popup-4 		{ width: 772px; height: 498px; background-position: -2px -2px; }
#popup-6 		{ width: 772px; height: 351px; background-position: -2px -502px; }
#policy-content 		{ width: 595px; height: 499px; background-position: -776px -2px; }
#popup-5 		{ width: 512px; height: 422px; background-position: -776px -503px; }
#calendar-title 		{ width: 475px; height: 358px; background-position: -1290px -503px; }
#sample-bt-product-1-over 		{ width: 355px; height: 117px; background-position: -2px -855px; }
#popup-5-bt-okay 		{ width: 221px; height: 45px; background-position: -2px -974px; }
#sample-bt-product-1 		{ width: 355px; height: 117px; background-position: -1373px -2px; }
#sample-bt-product-2-over 		{ width: 355px; height: 117px; background-position: -359px -855px; }
#sample-bt-product-2 		{ width: 355px; height: 117px; background-position: -1373px -121px; }
#month-title 		{ width: 354px; height: 105px; background-position: -1373px -240px; }
#calendar-bt-okay-over 		{ width: 310px; height: 58px; background-position: -1290px -863px; }
#calendar-bt-okay 		{ width: 310px; height: 58px; background-position: -1373px -347px; }
#month-bt-select 		{ width: 310px; height: 58px; background-position: -1373px -407px; }
#popup-5-bt-agree 		{ width: 178px; height: 26px; background-position: -225px -974px; }
#popup-5-bt-policy 		{ width: 66px; height: 17px; background-position: -225px -1002px; }
#month-selector-img-1 		{ width: 88px; height: 77px; background-position: -1602px -863px; }
#popup-4-bt-select 		{ width: 89px; height: 31px; background-position: -1373px -467px; }
#month-selector-img-10 		{ width: 88px; height: 77px; background-position: -716px -942px; }
#month-selector-img-11 		{ width: 88px; height: 77px; background-position: -806px -942px; }
#month-selector-img-12 		{ width: 88px; height: 77px; background-position: -896px -942px; }
#month-selector-img-2 		{ width: 88px; height: 77px; background-position: -986px -942px; }
#month-selector-img-3 		{ width: 88px; height: 77px; background-position: -1076px -942px; }
#month-selector-img-4 		{ width: 88px; height: 77px; background-position: -1166px -942px; }
#month-selector-img-5 		{ width: 88px; height: 77px; background-position: -1256px -942px; }
#month-selector-img-6 		{ width: 88px; height: 77px; background-position: -1346px -942px; }
#month-selector-img-7 		{ width: 88px; height: 77px; background-position: -1436px -942px; }
#month-selector-img-8 		{ width: 88px; height: 77px; background-position: -1526px -942px; }
#month-selector-img-9 		{ width: 88px; height: 77px; background-position: -1616px -942px; }
#popup-5-bt-close 		{ width: 34px; height: 34px; background-position: -1464px -467px; }
#popup-4-bt-next 		{ width: 29px; height: 32px; background-position: -1730px -2px; }
#popup-4-bt-prev 		{ width: 29px; height: 32px; background-position: -1685px -347px; }
#policy-bt-close 		{ width: 30px; height: 30px; background-position: -716px -855px; }
#popup-6-bt-close 		{ width: 29px; height: 29px; background-position: -1692px -863px; }
#popup-4-bt-close 		{ width: 28px; height: 28px; background-position: -1500px -467px; }
#popup-2-bt-close 		{ width: 20px; height: 20px; background-position: -405px -974px; }
#popup-5-policy 		{ width: 22px; height: 18px; background-position: -1730px -36px; }
